section#contact ::-webkit-input-placeholder {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(213, 0, 0, 0.5);
}